body{
	width:90%;
	margin:15px auto;/*第一项：是上下边框，第二项：是左右，auto代表水平居中*/
}
fieldset{
	width:350px;
	border:none;
	background-color:#ddd;
}
fieldset legend{
	background-color:#ddd;
	padding:0 64px 0 2px;
}
fieldset#userinfo{
	float:left;
	margin-right:10px
}
filedset#carinfo{
	float:right;
	
}
filedset#userinfo ol{
	padding:0;
	margin:2px;
}
fieldset#userinfo ol li{
	list-style:none;
	margin:0 0 9px 0;
	padding:0;
}
/*使input单独成行*/
fieldset input{
	display:block;
}
input{
	width:200px;
	height:30px;
	background-color:#fff;
	border:1px solid #bbb;/*设置四边框的属性*/
}
input[type="submit"]{
	width:202px;
	height:30px;
	padding:0;
	background-color:#bbb;
}
input,fieldset,legend{
	border-radius:5px;/*圆角边界，定义边界半径，越大越圆*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}